.cart-row {
    margin: 20px 0;
}

.cart-row-cell{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-row-button {
    cursor: pointer;
}

.cart-row-count {
    margin: 0 20px;
    font-size: 1em;
}

.cart-row-inner-text {
    font-size: 14px;
    margin: 0 15px;
}

.cart-row-price::before {
    content: '$';
}